* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway-Bold";
  src: local("Raleway-Bold"),
    url("https://nomail.com.ua/files/woff/f5c9c1aa2ac56e1f75b17c63c0a594bc.woff")
      format("woff");
}

@font-face {
  font-family: "Pacifico-Regular";
  src: local("Pacifico-Regular"),
    url("https://nomail.com.ua/files/woff/9b79bde19b07cbc80daeff1aaa085b5c.woff")
      format("woff");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: local("Raleway-ExtraBold"),
    url("https://nomail.com.ua/files/woff/299ddfe9ee671626b0fe97cd94cfbb3b.woff")
      format("woff");
}

@font-face {
  font-family: "Raleway-Light";
  src: local("Raleway-Light"),
    url("https://nomail.com.ua/files/woff/6b562d7ca359ccb3259f570bcceb4f70.woff")
      format("woff");
}

.body {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  opacity: 0.7;
}

.header__title {
  margin: -40px 0 0 40px;
  font-family: "Pacifico-Regular";
  font-size: 55px;
}

.navigation {
  flex-grow: 0.15;
  display: flex;
  justify-content: space-evenly;
}

.navigation__item {
  font-family: "Raleway-Bold";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.navigation__link:hover {
  border-top: 3px solid #ff6033;
  transition: 300ms;
  text-shadow: 0 0 15px grey;
}

.section-fresh {
  max-width: 100vw;
  height: 1000px;
  background-image: url(../img/first.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.section-fresh__wrapper {
  margin-left: 10%;
  display: flex;
  flex-basis: 250px;
  flex-wrap: wrap;
}

.section-fresh__title {
  font-family: "Raleway-ExtraBold";
  font-size: 60px;
  font-weight: bold;
}

.section-fresh__text {
  margin: 30px 0;
  width: 500px;
  font-family: "Raleway-Light";
  color: #262626;
  font-size: 17px;
}

.section-fresh__link {
  width: 200px;
  text-decoration: none;
  font-family: "Raleway-Light";
  font-size: 20px;
  color: white;
  background-color: #ff6033;
  box-shadow: 2px 2px 3px grey;
  padding: 20px 25px;
}

.scroll {
  position: fixed;
  bottom: 0;
  left: 35%;
  align-self: flex-end;
  margin: 0 0 30px 15%;
}

.section-aboutus {
  max-width: 100vw;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url(../img/second.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-aboutus__wrapper {
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 500px;
  align-items: center;
}

.section-aboutus__title {
  font-family: "Raleway-ExtraBold";
  font-size: 90px;
  color: #ffffff;
  letter-spacing: 2px;
}

.section-aboutus__text {
  font-family: "Raleway-Light";
  color: #ffffff;
  font-size: 17px;
  padding-top: 20px;
}

.blog {
  max-width: 100vw;
  height: 1000px;
  background-color: #b07cf7;
}

.blog__title {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway-ExtraBold";
  font-size: 90px;
  text-transform: capitalize;
  padding-top: 100px;
}

.blog__text {
  text-align: justify;
  text-align-last: justify;
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  font-family: "Raleway-Light";
  width: 563px;
  margin: 40px auto;
}

.blog__calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__item {
  flex-basis: 370px;
  height: 310px;
  box-shadow: 0 0 15px gray;
  transition: 2s;
  position: relative;
  margin: 0 30px;
}

.calendar__item:hover {
  transform: rotate(360deg);
}

.item__left {
  background-image: linear-gradient(0deg, #000 0, transparent 50%),
    url(../img/blogleft.png);
}

.item__center {
  background-image: linear-gradient(0deg, #000 0, transparent 50%),
    url(../img/blogcenter.png);
}

.item__right {
  background-image: linear-gradient(0deg, #000 0, transparent 50%),
    url(../img/blogright.png);
}

.calendar__date {
  position: absolute;
  left: 30px;
  top: 30px;
  display: block;
  border: 1px solid #262626;
  height: 60px;
  width: 60px;
  background-color: #262626;
  opacity: 0.7;
  border-radius: 5px;
  color: #fff;
  font-family: "Raleway-ExtraBold";
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.calendar__bottom-wrapper {
  max-width: 310px;
  position: absolute;
  left: 20px;
  bottom: 23px;
}

.bottom-wrapper__title {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Raleway-Bold";
}

.bottom-wrapper__text {
  font-size: 13px;
  color: #ffffff;
  font-family: "Raleway-Light";
}

.blog__button {
  display: block;
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  margin: 50px auto;
  font-family: "Raleway-Light";
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
